apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: rsenvcomp
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rs-demos-xhlg-tenant/rsenvapp/rsenvcomp@sha256:45d6fb491d19b6bfdd527a4de3f38359848d180340d601b24ecef43b66517883
        name: my-java-quarkus
        resources: {}
status: {}
